<% content_for :header do %>
  <%= render 'shared/top_bar' %>
<% end %>

<div id="questions">
  <% @questions.each do |question| %>
    <div id="question">
     <blockquote>
       <p class="text"><a href="/questions/<%= question.to_param %>"><%= question.text %></a></p>
        <p class="desc"><%= question.description %></p>
        <cite>
          <a class="up" href="#">Upvote</a>
          <a class="reply" href="#">Reply</a>
          <a class="down" href="#">Downvote</a>
        </cite>
      </blockquote>
    </div>
  <% end %>
</div>