<%= simple_form_for([@company_forum, @company_forum_topic], :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :topic_title %>
  </div>

    <%= f.button :submit, :class => "btn btn-primary btn-large" %>

<% end %>
