<div class="container">
    <h1>Editing business</h1>
    <%= render 'form' %>
    <div class="smallMenuItem">
        <%= link_to 'Show', @business %> | <%= link_to 'Back', businesses_path %>
    </div>
</div>
