*.iws
*.ipr
*.imla
*.tmproj
*.log
*.swp
*.*~
.bundle
.DS_Store
Thumbs.db
.idea
.redcar
.sass-cache
.rakeTasks
log
tmp
db/*.sqlite3
.svn
nohup.out
notes.txt
help
public/wireframes
public/system
coverage/
config/database.yml