<div class="container margin-top margin-bottom">

<%= link_to 'Edit', edit_company_forum_company_doc_path(@company_forum, @company_doc) %> |
<%= link_to 'Back', company_forum_company_docs_path(@company_forum) %>
</div>