<%# set_meta_tags :site => 'MusicMind', :title => 'Inbox', :reverse => true %>
<style type="text/css">
	li.conversation{
		background-color: #e8e9eb;
		font-size:1.250em;
		padding:10px 0px 10px 20px;
		font-size:20px;
	}

  .box_title {
		border-bottom: 1px solid #f0f0f0;
		background: #3d4450;
		color: white;
		padding-left:20px;
		padding-bottom:0px;
		margin-bottom:0px;
	}

	li.conversation a{
		padding:10px 10px;

	}


</style>

<section class="wrapper" id="inbox">
<div class="container margin-bottom margin-top">
	
	<h3>Messages</h3> 

	<h2 class="box_title"> Inbox</h2>
	<!-- get all messages that have not been read -->
	<ul id="inbox-messages"><%= render current_user.mailbox.inbox %></ul>
	
	<h2 class="box_title">SentBox</h2>
	<ul id="outbox-messages"><%= render current_user.mailbox.sentbox %></ul> 
	<!-- <h2>Trash</h2> -->
	<ul><%= render current_user.mailbox.trash %></ul>

	<%= link_to 'Start Conversation', :new_conversation, :class => "btn btn-primary", :style => "margin-top:10px; float:right;" %>
	</div>
</section>