<center>
  <h1 style="font-weight: bold;">
  	Compose Message
  </h1>
  <small style="font-size: 14px; color: rgb(150,150,150);">
  		Write your message here
  </small>
</center>
<div style="background-color: rgba(255,255,255,.5);margin:20px -15px 0 -15px;">
<div class="container">
<div class="row">
  <br>
  <br>
 <div class="col-md-4" style="font-size: 200px; text-align: center;">
 	<i class="fa fa-envelope-o"></i>
 </div>
 <div class='col-md-8'>
    <h3>New Message:</h2>
    <%= render 'form' %>
</div>
</div>
</div>
</div>
