<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= render "conversations/panel_message" %>
      <div class="col-sm-10">
        <h2 style="margin: 1px 0 2px 120px;">General Message <small>showing all message</small></h2>
        <br/>
        <div id="compose-message" hidden="true">
          <%= render "conversations/form" %>
        </div>
        <%= render "conversations/mail_trashbox" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(e){
    $("#show-message").click(function(){
      $("#compose-message").toggle();
      e.preventDefault();
    });
  })
</script>