<div id="signup-page">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 offset4">
        <div class="text-center">
          <div class="sky-logo"><i class="icon-cloud"></i> <span>SkyHQ</span></div>
        </div>
        <div class="page-bg">
          <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
            <h2 class="no-top-margin">Forgot password?</h2>
            <%= f.error_notification %>

            <%= f.input :email, autofocus: true, required: true, label: false, input_html: {class: "span12"}, placeholder: "email address" %>
           
            <button type="submit" class="btn btn-link btn-large">
              submit <i class='icon-lock'></i>
            </button>

            <div class="clearfix"></div>
            <hr/>
            <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>

</div>

