<div class="signupNav pull-right">
  <a class="btn btn-danger btn-large" href="/register">Create Account</a>

  <div class="btn-group pull-right">
    <button class="btn btn-primary dropdown-toggle btn-large" data-toggle="dropdown">
      Login <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/login"><img src="/assets/signin-btn.png"></a></li>
      <li><a href="/auth/facebook"><img src="/assets/facebook-signin-btn.png"></a></li>
      <li><a href="/auth/twitter"><img src="/assets/twitter-signin-btn.png"></a></li>
      <li><a href="/auth/linkedin"><img src="/assets/linkedin-signin-btn.png"></a></li>
    </ul>
  </div>
</div>
