<form class="searchask">
  <div class="input-append">
    <input type="text" class="span5" /><button class="btn btn-primary" type="button"><i class="icon-search icon-white"></i></button>
    <% if add_question_button -%>
      or <button class="btn" type="button" data-toggle="modal" data-target="#add-question-modal">Add Question</button>
    <% end -%>
  </div>
</form>
