<div class="media-body" style="margin-bottom: -21px;">
  <h4 class="entry-meta comment-list">
    <div class="entry-description comment more" ><%= comment.body %></div>
    Posted on <a class="entry-date" href="#"><%= "#{time_ago_in_words(comment.created_at.strftime("%B %d, %Y"))} ago"%></a> | By <a class="entry-author" href="#"><%= comment.name %></a> 
    <!-- |  -->
    <%#= link_to(t(:delete, scope: 'blogit.comments'), [@post, comment], method: :delete, confirm: t(:are_you_sure_you_want_to_remove_this_comment, scope: 'blogit.comments')) %>
  </h4>
</div>