<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>
                        Navigation
                    </li>
                    <li>
                        <a href="#">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar --><!-- Begin Content -->
        <div class="col-md-9">
            <div class="row margin-bottom-10">
                <h2>
                    <div>
                        <%= @super_admin.name %>
                    </div>
                </h2>
                <h2>You've been a SkyHQ member for <%= time_ago_in_words(@super_admin.created_at) %>.</h2>
                <h2>Location: <%= @super_admin.location %>
                    <br/>
                    Phone Number: <%= @super_admin.phone_number %>
                </h2>
            </div>
        </div>
    </div>
</div>
