<div class="container">
    <h1>Editing Company Profile:</h1>
    <%= render 'form' %>
    <div class="smallMenuItems">
        <%= link_to 'Show', @company_profile %> | <%= link_to 'Back', company_profiles_path %>
    </div>
</div>
