<div class="container margin-bottom margin-top">
    <h1>New Company Profile</h1>
    <%= render 'form' %>
    <div class="smallMenuItems">
        <%= link_to 'Go Back', :back, :class => "btn btn-danger" %>
    </div>
</div>
