
<div class="container">
 <div class="jumbotron">
  <div class="row-fluid">
    <div class="span4">
     <h1>About</h1>
      <h3>Meet the Founder</h3>
      <%= image_tag "http://dummyimage.com/80x80", class: "img-circle float-left external-image" %><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="span4">
      <h3>History</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="span4">
      <h3>Jobs</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
  </div>
 </div>
</div>