<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/headers/header1.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="assets/css/pages/page_pricing.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1">    
</head> 

<body>
	
<%= render "layouts/partials/headerunify" %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Pricing Page</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Features</a></li>
            <li class="active">Pricing</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">		
    <!-- Pricing -->
    <div class="row margin-bottom-40">
    	<div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>Begginer <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>Pro Unify <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>Expert <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>Hi-Tech <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
    </div><!--/row-->
    <!--//End Pricing -->

	<hr class="margin-bottom-60" />

    <!-- Pricing "No Spacing"-->
    <div class="row no-space-pricing">
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Begginer <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>5<i>.49</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Pro Unify <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>8<i>.69</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Expert <span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>13<i>.99</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
    	<div class="col-md-3 col-sm-6">
            <div class="pricing">
                <div class="pricing-head">
                    <h3>Hi-Tech<span>Officia deserunt mollitia</span></h3>
                    <h4><i>$</i>99<i>.00</i> <span>Per Month</span></h4>
                </div>
                <ul class="pricing-content list-unstyled">
                    <li><i class="icon-tags"></i> At vero eos</li>
                    <li><i class="icon-asterisk"></i> No Support</li>
                    <li><i class="icon-heart"></i> Fusce condimentum</li>
                    <li><i class="icon-star"></i> Ut non libero</li>
                    <li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
                </ul>
                <div class="pricing-footer">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
                    <button type="submit">Order Now</button>
                </div>                    
            </div>
        </div>
    </div><!--/row-->
    <!--//End Pricing "No Spacing" -->
</div><!--/container-->		
<!--=== End Content Part ===-->

<%= render "layouts/partials/footerunify" %>

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 