<div id="header-title">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1>Privacy Policy</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <h3>We respect your rights.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu nibh ut sem interdum dictum. Sed lacinia eros nec tortor rhoncus fringilla.</p>
    </div>
    <div class="span4">
      <h3>Questions</h3>
      Email us at <a href="mailto:info@skyhq.com">info@skyhq.com</a> and we’ll be happy to help.
    </div>
  </div>
</div>