<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Unify | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/headers/header1.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1">    
</head> 

<body>
	
<%= render "layouts/partials/headerunify" %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Testimonials</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="">Features</a></li>
            <li class="active">Testimonials</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row">
        <!--Begin Sidebar Menu-->
        <div class="col-md-3">            
            <ul class="list-group sidebar-nav-v1">
                <li class="list-group-item"><a href="feature_grid.html">Grid Layout</a></li>
                <li class="list-group-item">
                    <span class="badge badge-green">New</span>                    
                    <a href="feature_boxes.html">Content Boxes</a>
                </li>
                <li class="list-group-item"><a href="feature_typography.html">Typography</a></li>
                <li class="list-group-item">
                    <span class="badge badge-red">New</span>                    
                    <a href="feature_tagline_boxes.html">Tagline Boxes</a>
                </li>
                <li class="list-group-item"><a href="feature_buttons.html">Buttons</a></li>
                <li class="list-group-item">
                    <span class="badge">New</span>                                        
                    <a href="feature_icons.html">Icons</a>
                </li>
                <li class="list-group-item"><a href="feature_thumbails.html">Thumbails</a></li>
                <li class="list-group-item"><a href="feature_components.html">Components</a></li>
                <li class="list-group-item">
                    <span class="badge badge-blue">New</span>                    
                    <a href="feature_accardion_and_tabs.html">Accardion and Tabs</a>
                </li>
                <li class="list-group-item"><a href="feature_navigations.html">Navigations</a></li>
                <li class="list-group-item"><a href="feature_tables.html">Tables</a></li>
                <li class="list-group-item"><a href="feature_forms.html">Forms</a></li>
                <li class="list-group-item active">
                    <span class="badge badge-sea">New</span>                    
                    <a href="feature_testimonials.html">Testimonials</a>
                </li>
            </ul>
        </div>
        <!--End Sidebar Menu-->

        <!--Begin Content-->
        <div class="col-md-9">
            <!--Testimonials v1-->
            <div class="margin-bottom-40">
                <div id="testimonials-1" class="carousel slide testimonials testimonials-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                            <div class="testimonial-info">
                                <img src="assets/img/testimonials/img1.jpg" alt="">
                                <span class="testimonial-author">
                                    Jeremy Asigner 
                                    <em>Web Developer, Unify Theme.</em>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                            <div class="testimonial-info">
                                <img src="assets/img/testimonials/user.jpg" alt="">
                                <span class="testimonial-author">
                                    User 
                                    <em>Java Developer, Htmlstream</em>
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                            <div class="testimonial-info">
                                <img src="assets/img/testimonials/img2.jpg" alt="">
                                <span class="testimonial-author">
                                    Kate Davenport 
                                    <em>Web Designer, Google Inc.</em>
                                </span>
                            </div>                                
                        </div>
                    </div>
                    
                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#testimonials-1" data-slide="prev">
                            <i class="icon-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#testimonials-1" data-slide="next">
                            <i class="icon-angle-right"></i>
                        </a>
                    </div>
                </div>                    
            </div>
            <!--End Testimonials v1-->

            <!--Testimonials v1-->
            <div class="row margin-bottom-40">
                <div class="col-md-6">
                    <div id="testimonials-2" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..</p>
                                <div class="testimonial-info">
                                    <img src="assets/img/testimonials/user.jpg" alt="">
                                    <span class="testimonial-author">
                                        Jeremy Asigner 
                                        <em>Web Developer, Unify Theme.</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..</p>
                                <div class="testimonial-info">
                                    <img src="assets/img/testimonials/img1.jpg" alt="">
                                    <span class="testimonial-author">
                                        User 
                                        <em>Java Developer, Htmlstream</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.</p>
                                <div class="testimonial-info">
                                    <img src="assets/img/testimonials/img2.jpg" alt="">
                                    <span class="testimonial-author">
                                        Kate Davenport 
                                        <em>Web Designer, Google Inc.</em>
                                    </span>
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-2" data-slide="prev">
                                <i class="icon-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-2" data-slide="next">
                                <i class="icon-angle-right"></i>
                            </a>
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div id="testimonials-3" class="carousel slide testimonials testimonials-v1">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                                <div class="testimonial-info">
                                    <img src="assets/img/testimonials/img2.jpg" alt="">
                                    <span class="testimonial-author">
                                        Jeremy Asigner 
                                        <em>Web Developer, Unify Theme.</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Ducimusqui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                                <div class="testimonial-info">
                                    <img src="assets/img/testimonials/img1.jpg" alt="">
                                    <span class="testimonial-author">
                                        User 
                                        <em>Java Developer, Htmlstream</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..</p>
                                <div class="testimonial-info">
                                    <img src="assets/img/testimonials/user.jpg" alt="">
                                    <span class="testimonial-author">
                                        Kate Davenport 
                                        <em>Web Designer, Google Inc.</em>
                                    </span>
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-3" data-slide="prev">
                                <i class="icon-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-3" data-slide="next">
                                <i class="icon-angle-right"></i>
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
            <!--End Testimonials v1-->

            <hr class="margin-bottom-50">

            <!--Testimonials v2-->
            <div class="row margin-bottom-40">
                <div class="col-md-8">
                    <div id="testimonials-4" class="carousel slide testimonials testimonials-v2">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpaid est praesentium..</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        Jeremy Asigner 
                                        <em>Web Developer, Unify Theme.</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Cras justo odio, dapibus ac facilisis into egestas. Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupidinon..</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        Bootstrap :) 
                                        <em>Java Developer, Htmlstream</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Justo odioDignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique facilisis into egestas.</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        Kate Davenport 
                                        <em>Web Designer, Google Inc.</em>
                                    </span>
                                </div>                                
                            </div>
                        </div>
                        
                        <div class="carousel-arrow">
                            <a class="left carousel-control" href="#testimonials-4" data-slide="prev">
                                <i class="icon-angle-left"></i>
                            </a>
                            <a class="right carousel-control" href="#testimonials-4" data-slide="next">
                                <i class="icon-angle-right"></i>
                            </a>
                        </div>
                    </div> 
                </div>                   
                <div class="col-md-4">
                    <div id="testimonials-5" class="carousel slide testimonials testimonials-v2">
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        Jeremy Asigner 
                                        <em>Web Developer, Unify Theme.</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        User 
                                        <em>Java Developer, Htmlstream</em>
                                    </span>
                                </div>
                            </div>
                            <div class="item">
                                <p>Dignissimos similique sunt in ducimus qui blanditiis praesentium voluptatum delvoe molestias..</p>
                                <div class="testimonial-info">
                                    <span class="testimonial-author">
                                        Kate Davenport 
                                        <em>Web Designer, Google Inc.</em>
                                    </span>
                                </div>                                
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <!--End Testimonials v2-->            
        </div>
        <!--End Content-->
    </div>          
</div><!--/container-->     
<!--=== End Content Part ===-->

<%= render "layouts/partials/footerunify" %>

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="assets/plugins/hover-dropdown.min.js"></script> 
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
<![endif]-->

</body>
</html> 