<% set_subtitle "Something's wrong!" %>

<div class="span-21 append-1">
  <h1>Wow, this is really embarrassing...</h1>
  <p>It looks as though we've broken something on our system. Don't panic - I've e-mail the tech guys, and told them what's wrong. They'll get to it as fast as they can.</p>
  <p>In the meantime, please feel free to rant here:</p>

  <%= render 'shared/contact_form' %>
</div>
