<div class="container">
    <div class="row">
        <!-- Begin Content -->
        <div class="col-md-9">
            <div class="row margin-bottom-10">
                <h1>Editing online store</h1>
                <%= render 'form' %>
            </div>
        </div>
		<div class="col-md-3">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>
                        Navigation
                    </li>
                    <li>
                        <%= link_to 'Show', @online_store %>
                        <%= link_to 'Back', online_stores_path %>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->
    </div>
</div>
