<div class="container">

<!--Reg Block-->
  <div class="reg-block" style="width: 600px;">
    <%= render 'citizens/registrations/business_registration' %>
  </div>
  
</div><!--/container-->
<!--=== End Content Part ===-->

<!-- JS Page Level -->           

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<![endif]-->