/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree ./application
  *= require_tree ./blog
 */

a {
    color: #0254EB
}
a:visited {
    /*color: #0254EB*/
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
    display: none;
}
.comment {
    width: 100%;
}
.click form{
	color: #000;
}

#create-new-post-btn{margin-top: -26px;}

#main { background: url(../img/mybg.png) #fff; }

h1{ font-size: 36px; }

h2.entry-title{font-size: 1.5em;}

.btn_reply{ margin-bottom: 10px; margin-top: -31px; }

p.comment-list{ margin-top: 10px; margin-left: 10px; }

/*p.entry-meta{ word-wrap: break-word !important;}*/

div.entry-description { 
  white-space: pre-wrap !important;      /* CSS3 */
  white-space: -moz-pre-wrap !important; /* Firefox */
  white-space: -pre-wrap !important;     /* Opera <7 */
  white-space: -o-pre-wrap !important;   /* Opera 7 */
  word-wrap: break-word !important;
}

.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    -moz-appearance: none;
    -moz-box-sizing: border-box;
   /* background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #404040;
    display: block;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;*/
    height: 100% !important;
    /*outline: 0 none;
    padding: 8px 10px;
    width: 100%;*/
}



