.sky-logo {
  font-size:2em;
  >.icon-cloud{
    color:#89c5fa;
    
  }
  >span{
    color:#fff;
    font-weight:600;
  }
}
h1, h2, h3, h4, h5, h6{
  text-transform: inherit;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.btn{
  >.btn-link{
    color:#2e8bcc;
    background-color:transparent;
    padding:0;
    >.btn-large{
      padding:0 ;
    }
  }
}
.float-left{
  float:left;
}
#alert{
  text-align: center;
}

/* HEADER */
.navbar.navbar-inverse{
  .navbar-inner{
    border:none;
    padding:5px 0;
    .container{
      width: 1170px;
      .nav{
        li{
          text-transform: inherit;
          a{
            font-size:14px;
            font-weight:400;
            color:#9ba6b9;
            margin-left: 5px;
          }
          a:hover{
            color:#d3d9e3;
          }
        }
      }
      .brand{
        font-size:.7em;
        padding-left:0;
        margin-left: 1px;
        .icon-cloud{
          /*margin-right:inherit;*/
        }
      }
    }
  }
}
.navbar-inverse, .navbar-inverse > .navbar-inner{
  background-color:#3d4450 !important;
  background:#3d4450;
  background-image:none !important;
}

/* HEADER */
.navbar.navbar-sub{
  margin-top:-25px;
  margin-bottom: 0px;
  .navbar-inner{
    border:none;
    padding:5px 0;
    .container{
      width: 1170px;
      .nav{
        li{
          text-transform: inherit;
          a{
            font-size:14px;
            font-weight:400;
            color:#7f7f7f;
            margin-left: 5px;
            padding:10px 30px 10px 1px;
            i{
              margin-right:4px;
            }
          }
          a:hover{
            color:#5a5a5a;
          }
        }
      }
      .brand{
        font-size:.7em;
        padding-left:0;
        margin-left: 1px;
        .icon-cloud{
          /*margin-right:inherit;*/
        }
      }
    }
  }
}
.navbar-inverse, .navbar-sub > .navbar-inner{
  background-color:#e8e9eb !important;
  background:#e8e9eb;
  background-image:none !important;
}


/* EXTERNAL */
#header-title{
  margin-top:-25px;
  color:white;
  margin-bottom:20px;
  padding:45px 0 15px 0;
  background:url('external/title-bg.jpg') left center no-repeat;
  h1{
    text-transform: inherit;
  }
}




