

 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Paul Laros">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Von - Minimalist Blog Theme</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C400italic%2C700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/blog/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/blog/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/blog/bootstrap-social.css" rel="stylesheet">

    <!-- Styles -->
    <link href="../assets/blog/main.css" rel="stylesheet">

    <!-- Loading bar -->
    <script src="../assets/blog/pace.min.js"></script>

    <!-- HTML5 shiv for IE8 support -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
    .sidebar {
      top: 0!important;
    }
    .header{
      height: 30px;
    }
    </style>
  </head>

  <body>

  <%= yield %>

  <!-- Scripts -->
  <script src="../assets/blog/jquery-1.11.0.min.js"></script>
  <script src="../assets/blog/custom.js"></script>
  </body>
</html>